@import url("https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Jersey+10&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7779 0.1381 77);
  --color-accent: oklch(0.8219 0.1696 294.88);
  --color-background: oklch(0.2 0.0115 91.74);
  --color-background-dark: #07070f;
  --color-background-light: oklch(0.2805 0.0115 91.74);
  --color-background-lighter: oklch(0.3481 0.0115 91.74);
}

body {
  @apply text-base text-white bg-background-dark min-h-screen w-full m-0;
  image-rendering: pixelated;
  font-family: "Geist Pixel", sans-serif;
  background-image: url("/assets/bg.avif"), url("/assets/stars only.avif");
  background-position:
    center top,
    center 64px;
  background-repeat: no-repeat, repeat-y;
  background-size:
    100% auto,
    100% auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jersey 10", sans-serif;
  @apply text-primary;
}

h1 {
  @apply text-4xl pb-2;
}

h2 {
  @apply text-3xl mb-1;
}

h3 {
  @apply text-2xl text-accent;
}

p {
  @apply mb-3;
}

ul {
  @apply list-disc leading-normal text-[0.95rem] ml-4;
}

ul > li {
  @apply mb-1;
}

ac {
  @apply text-accent;
}

a {
  @apply hover:brightness-75 active:brightness-50 hover:underline hover:decoration-double!;
}

.content-area a {
  @apply text-accent underline decoration-dashed;
}
